<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="browse-body">
    <header class="browse-header">
      <div class="logo">
        <h1>FLICK BOOK</h1>
      </div>

      <div class="login">
        <a href="/login"title="">login</a>
      </div>
      <div class="signup">
        <a href="/signup" title="">Sign Up</a>
      </div>
    </header>
    <div class="browse-title">
        <h1>Flickbooks created by members</h1>
    </div>
    <div class="browse">
      <% for(let i = 0; i < browse.length; i++){ %>
        <div >
          <img src="<%= browse[i].picture %>" alt="" />
          <h4><%= browse[i].stateNumber %></h4>
        </div>
      <% }; %>
    </div>
</body>
</html>
