<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flick Book Photo Sharing App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="logo"
      <h1>FLICK BOOK</h1>
    </div>
    <div class="login">
      <a href="/login"title="">login</a>
    </div>
    <div class="signup">
      <a href="/signup" title="">Sign Up</a>
    </div>
    <div class="icon">
      <div><img src=https://cdn3.iconfinder.com/data/icons/token/128/Search.png></div>
      <div class="icon-txt"><p>EXPLORE</p></div>
  </header>
  <main >
    <article class='blue'>
      <div class="overview">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officia tempora nobis hic nisi vel architecto tenetur quaerat
        beatae praesentium, tempore fuga recusandae sint ex velit facilis
        veniam ipsum magni neque.
        </p>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQKgLPIi7pH6PFD-bUkEeZsps4ZjeD3xtJ9_UDXTXCNudOh48r0">

      </div>
   </article>
    <div class="home-flex">

      <div><a href="/browse"><div class="browse-link">
      </div></a></div>
    </div>
    <article class="green">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
    </article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
    <article>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
    </article>
    <article>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
      debitis eligendi ducimus, aspernatur ex, officiis sapiente id corporis
       vitae quidem illo inventore labore nesciunt, magni fugiat minima, dolorem
       iure consectetur.
       <p>
    </article>
  </main>

  <footer>footer</footer>

</body>
</html>
