<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flick Book Photo Sharing App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="logo"
      <h1>FLICK BOOK</h1>
    </div>

    <div class="login">
      <a href="/login"title="">login</a>
    </div>
    <div class="signup">
      <a href="/signup" title="">Sign Up</a>
    </div>
    <div class="icon">
      <div><img src=https://cdn3.iconfinder.com/data/icons/token/128/Search.png></div>
      <a href="/explore"><div class="icon-txt"><p>EXPLORE</p></div></a>
  </header>
  <main >
    <section id="top" class='overview'>
      <div class="title">
        <h1>PHOTOSHARE WITH INMATES</h1>
      </div>
      <div class="overview-descr">
        <p>Simply Create Story Boards and tag them with your pictures <br>
           thoughts, favorite articles and anything else that you feel <br>
           they might be interested in seeing.
        </p>
      </div>
      <div class="overview-signupWrap" >
        <a href="/signup"><div class="overview-signup"><h3>Sign Up</h3></div></a>
      </div>
   </section>
    <section class="about" >
      <div class="title">
        <h1>What Is FLICKBOOK?</h1>
      </div>
      <div class="flex-row">
        <div class="overview-descr">
          <p>FLICKBOOK is the <span style="color:red; font-size:30px">first and only 100% free </span>photo sharing app
          that allows users to create public and private walls for their incarcerated
          loved ones. FLICKBOOK allows users to tag photos and stories from any and/or
          all their social accounts easily with the click of a button</p>
          </p>
          <br>

          <p>FLICKBOOK brings the convience and ease of photo sharing and social media
          to the palms of your hands. So that you stay connected and keep your incarcerated
          loved one up to date on social and current events happening around you.
          </p>
          <!--<a href="#top"><img class="up" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/ultra-glossy-silver-buttons-icons-media/001663-ultra-glossy-silver-button-icon-media-media2-arrow-up.png" alt=""></a>-->
        </div>
      <div class="about-pic">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS3Z0j8ZO4GXOOyJqlsJQkr68Is7Fs4kUz76I6NrIi1KNMk7ZvS">
      </div>
      </div>
    </section>
    <section class="developer">
        <div class="title">
          <h1>INSPIRATION </h1>
        </div>
        <div class="flex-row">
        <div class="overview-descr">
          <P> Having spent over 10yrs incarcerated in several New Jersey State Prisons for
          crimes commited at the age of of 18, the devloper (Natty B. Davis) witnessed
          first hand the difficulties  family and loved ones were having trying to
          share their photos and life events with himself and other prisoners.
          </P>
          <br>

          <p>Seeing that the technology/solution existed, but were not being utilized for
          the benifits of those incarcerated or their family and friends, Mr.Davis embarked
          on a mission to create FLICKBOOK. His vision was that there should be no barriers
          to communications between the two groups, and that it should not cost anything to
          communicate and share with your loved ones.
          </p>
          <br>
          <p>Immediately upon release 15 months ago, Mr.Davis began self teaching himself how
          to code. Realizing that he needed an all or nothing approach to fully grasp the concepts
          of coding, he enrolled in <a href="http://www.generalassemb.ly">General Assembly</a>
          web development immersive bootcamp, where he is currently pursuing his dreams and working
          on the full implementations of this app
          </p>
          <!--<a href="#top"><img class="up" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/ultra-glossy-silver-buttons-icons-media/001663-ultra-glossy-silver-button-icon-media-media2-arrow-up.png" alt=""></a>-->
        </div>
        <div class="flex-wrap">
          <img src="/60.jpg" alt="60 pic">
          <img src="/61.jpg" alt="60 pic">
          <img src="/62.jpg" alt="60 pic">
          <img src="/63.jpg" alt="60 pic">
          <img src="/64.jpg" alt="60 pic">
        </div>
        </div>
       </section>
       </main>
       <footer class="home-footer">
        <div>
          <h3>Stay Connected With Our Team</h3>
          <ul>
            <a href="http://www.facebook.com/codingwithanattitude">Facebook</a>
            <a href="http://www.instagram.com/codingwithanattitude">Instagram</a>
            <a href="http://www.linkedin.com/nattydavis">linkedin</a>
          </ul>
        </div>
       </footer>


</body>
</html>
