<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>flick book app signup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="logo"
      <h1>FLICK BOOK</h1>
    </div>

    <div class="login">
      <a href="/">home</a>
    </div>
    <div class="signup">
      <a href="/login" title="">Log In</a>
    </div>
    <div class="icon">
      <div><img src=https://cdn3.iconfinder.com/data/icons/token/128/Search.png></div>
      <a href="/explore"><div class="icon-txt"><p>EXPLORE</p></div></a>
    </div>

  </header>
  <form class="sign-form">
  <fieldset>
    <legend>Personal Info:</legend>
    First Name: <input type="text" name="first name"><br>
    Last Name: <input type="text" name="last name">
    Email: <input type="email" name="email"><br>
    Date of birth: <input type="date" name="dob"><br>
    Sex:<br> <input type="radio" name="gender" value="male" checked> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
          <input type="radio" name="gender" value="other"> Other <br>
  </fieldset>
  <fieldset>
    <legend>Account Info</legend>
    User Name: <input type="text" name="user name"><br>
    PassWord: <input type="password" name="password"></br>
    Verify Password: <input type="password" name="verify password"><br>
  </fieldset>
    <input type="submit" value="Set up Account">
</form>
  <footer>
        <div>
          <h3>Stay Connected With Our Team</h3>
          <ul>
            <a href="http://www.facebook.com/codingwithanattitude">Facebook</a>
            <a href="http://www.instagram.com/codingwithanattitude">Instagram</a>
            <a href="http://www.linkedin.com/nattydavis">linkedin</a>
          </ul>
        </div>
       </footer>
</body>
</html>
