<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/book.css">
  </head>
  <body class="home-body">
    <div class=" user-container">
      <div class="sub-head">

        <div>
            <h1>Welcome To FLICKBOOK:<%= user.username %></h1>
        </div>
        <div>
            <a href="/">Log Out </a>
        </div>
      </div>
      <main class="prof-main">
          <section>
            <a href="/book"><div class="button">
              <h1>MY BOOKS</h1>
            </div></a>
          </section>
        </main>
    </body>
  </html>
